*{
	box-sizing: border-box;
}
body{
	background-color:#ffffff;
	color:#000000;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin:10px;
    display: inline-block;
}

/*Header*/
header{
	background-color:#D52B1E;
	color:#ffffff;
    font-size: larger;
	display:flex;
	align-items: center;
	justify-content: center;
	padding:40px;
	margin-bottom:10px;
}
div{
    align-items: right;
    align-content: right;
}
button{
    color: white;
    background-color: #D52B1E;
}


#saddlesky{
  
    max-width: 100%;
    padding-left: 250px;
    padding-right: 10px;
    align-items: center;
}

#button-container{
    padding-bottom: 50px;
}

#menu-container{
    align-items: center;
    border: 5px solid #df3838;
    padding: 20px;
    background-color: #e2d8d8;
    text-align: center; 

}


h2{
    color: #D52B1E;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    color: black;
    font-family: sans-serif;
    font-size: medium;
    margin-right: 200px;
}

img{
    max-width: 600px;
}


@media screen and (max-width:600px) {
    :single-button {
        size-adjust: auto;
    }
   
    header {
        flex-direction: column;
        font-size: x-small;
    }
}